*.zip filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
Download/**/*.zip filter=lfs diff=lfs merge=lfs -text
Download/**/*.exe filter=lfs diff=lfs merge=lfs -text
Download/**/*.png filter=lfs diff=lfs merge=lfs -text
Download/**/*.ico filter=lfs diff=lfs merge=lfs -text
